 .header-body img{
     filter: blur(5px);
       filter: drop-shadow(10px 10px 10px rgb(34, 6, 6));
     transition-property: opacity;
     opacity: .6;

     color: rgb(199, 25, 176);
    

} 
.header-body{
   line-height: 13px;
}
